@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <form action="/Account/LognOut" method="get">
            用户名：@User.Identity.Name
            <br />
            <button>退出</button>
        </form>
    }
    else
    {
        <a href="/Account/Login">登陆</a>
    }
</div>
