
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/Account/Authorize" method="get">
        <button id="weibo">微博登录</button>
    </form>
    <form action="/Account/OidcAuthorize" method="get">
        <button id="weibo">oidc登陆</button>
    </form>
</body>
</html>
